<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>개인정보 수정</title>
    <link rel="stylesheet" th:href="@{/css/mypage/editUserCss.css}">
</head>
<body>
<header>
    <div id="header-container">
        <a th:href="@{/algoy/home}">
            <img src="/img/algoy-1.png" alt="알고이 로고입니다." id="header-logo">
        </a>
        <nav id="header-nav-1">
            <a href="">오답 노트</a>
            <a href="/algoy/planner/calender">플래너</a>
        </nav>
        <nav id="header-nav-2">
            <div id="search-container">
                <input type="text" placeholder="search" class="search-input">
                <button class="search-button">
                    <img src="/img/search-glasses.png" alt="검색 창의 돋보기 입니다.">
                </button>
            </div>
            <div id="header-user-area">
                <button id="header-my-page" class="modal-btn" onclick="openModal()">
                    <img src="/img/user-icon.png" alt="마이 페이지 버튼입니다">
                </button>
                <div th:if="${isAuthenticated}">
                    <form action="/algoy/logout" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                        <button type="submit" name="logout" id="header-logout">
                            <span>Logout</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <form th:action="@{/algoy/updateuser}" th:object="${user}" method="post">
        <label for="email">E-amil</label>
        <div class="input-group">
            <input type="email" id="email" th:value="*{email}" placeholder="이메일을 입력하세요." required/>
            <button type="button" class="check-button" onclick="checkDuplicateEmail(event)">중복 확인</button>
        </div>
        <p id="email-message" class="view-message"></p>

        <label for="password">Password</label>
        <input type="password" id="password" th:value="*{password}" placeholder="비밀번호를 입력하세요." required/>

        <label for="confirm-password">Re-enter Password</label>
        <input type="password" id="confirm-password" name="confirmPassword" placeholder="비밀번호를 입력하세요." required
               onblur="checkPasswordMatch()"/><!-- onblur: 포커스 해지 시 이벤트 설정 -->
        <p id="password-message" class="view-message"></p>

        <label for="username">이름</label>
        <input type="text" id="username" th:field="*{username}" placeholder="이름을 입력하세요." required/>

        <label for="nickname">닉네임</label>
        <div class="input-group">
            <input type="text" id="nickname" th:field="*{nickname}" placeholder="닉네임을 입력하세요." required/>
            <button type="button" class="check-button" onclick="checkDuplicateNickname(event)">중복 확인</button>
        </div>
        <p id="nickname-message" class="view-message"></p>

        <div class="btn-wrap">
            <button type="submit" class="submit-button">저장하기</button>
            <a th:href="@{/algoy/home}">
                <button type="button" class="back-button">메인으로</button>
            </a>
        </div>
    </form>

</main>

<script th:src="@{/js/signup/signup.js}"></script>

</body>
</html>