<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALGOY</title>
    <link rel="icon" href="/img/algoy-1.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/mypage/deleteUser.css}">
    <script th:src="@{/js/fragments/modal.js}"></script>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
</header>
<div th:replace="fragments/modal :: modal"></div>
<link rel="stylesheet" th:href="@{/css/fragments/modal.css}">
<main>
    <h1>회원 탈퇴</h1>
    <form id="userDeleteForm" th:object="${user}" method="post">
        <h2>탈퇴하시겠습니까? <br><br></h2>
        <h3>회원님의 정보는 30일간 보관되며 <br>30일 이후에는 모든 정보가 사라집니다.</h3>
        <div class="button-container">
            <button type="button" id="deleteUserBtn" class="deleteUserBtn">회원 탈퇴</button>
            <a href="/algoy/home" class="back-button">메인으로</a>
        </div>
    </form>
</main>

<script th:src="@{/js/mypage/userDelete.js}"></script>

</body>
<footer>
    <div id="our_information">
        <ul>
            <li>진행 프로젝트 : ESTSOFT ORMI 5기 백엔드 파이널 프로젝트</li>
            <li>팀 이름 : 5조 high - five</li>
            <li>프로젝트 이름 : Algoy</li>
            <li>깃허브 : <a href="https://github.com/high-five-ormi">https://github.com/high-five-ormi</a></li>
            <li>프로젝트 관련 컨텍은 깃허브 READ ME에 안내되어 있습니다</li>
        </ul>
    </div>
    <div id="Catchphrase">
        <img src="/img/algoy-1.png" alt="알고이 로고입니다." id="footer-logo">
        <p>"Algoy: Your Coding Commit Companion —Track Mistakes, Plan Success, and Get AI Insights"</p>
    </div>
</footer>

</html>