.modal {
    display: none;
    width: 200px;
    height: 250px;
    padding: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: absolute; /* 절대 위치 설정 */
    transform: translateX(-50%); /* 수평 중앙 정렬을 위한 변환 */
}

.modal-header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
}

.avatar {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.close {
    color: white;
    margin-left: auto;
}

.avatar-icon {
    width: 16px;
    height: 16px;
}

.nickname {
    font-size: 16px;
}

.modal-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content a {
    margin: 10px 0;
    font-size: 14px;
}

.nickname {
    font-weight: bold;
}
