<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ALGOY</title>
    <link rel="icon" href="/img/algoy-1.png" type="image/x-icon">
    <!-- 외부 CSS 파일 연결 -->
    <link rel="stylesheet" href="/css/study/StudyDetailCss.css">
    <!-- 모든 브라우저에서 WebSocket을 완벽하게 지원하지 않기 때문에, 다양한 브라우저에서 WebSocket과 유사한 기능을 제공하는 라이브러리입니다. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <!-- STOMP는 JavaScript 환경에서 사용할 수 있도록 도와주는 라이브러리입니다. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!-- jQuery 라이브러리의 압축된 버전을 CDN을 통해 불러와 현재 HTML 문서에서 사용할 수 있습니다. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 웹 페이지에서 마크다운으로 작성된 내용을 HTML로 변환하여 보여주는 역할을 합니다. -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- 웹 애플리케이션의 보안을 강화하고, 사용자 생성 콘텐츠를 안전하게 처리하는 역할을 합니다. (XSS 방지용) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.3/purify.min.js"></script>
    <!-- 웹 페이지 내의 코드를 시각적으로 매력적으로 표현하여 사용자 경험을 향상시키는 역할을 합니다. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <!-- highlight.js 라이브러리와 함께 사용되어 웹 페이지 내의 코드 블록에 시각적인 스타일을 적용하는 역할을 합니다. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <script th:src="@{/js/fragments/modal.js}"></script>
</head>

<body>
<header>
    <div th:replace="fragments/header :: header"></div>
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
</header>
<div th:replace="fragments/modal :: modal"></div>
<link rel="stylesheet" th:href="@{/css/fragments/modal.css}">
<main>
    <div id="calendar-header" class="calendar-nav">
        <div class="calendar-nav" style="width: 100px; height: 23px">
            <img src="/img/planner-icon.png" width="16" height="16" alt="아이콘입니다.">
            <span style="line-height: 23px">Study</span>
        </div>
        <div id="btn-container">
            <button class="btn-calendar" id="btn-delete">Delete</button>
            <button class="btn-calendar" id="btn-edit">Edit</button>
        </div>
    </div>
    <div class="study-detail-container">
        <h1>스터디 모집 글</h1>

        <div class="study-info">
            <div>
                <strong>Title</strong>
                <span id="study-title"></span>
            </div>
            <div>
                <strong>Author</strong>
                <span id="study-author"></span>
            </div>
            <div>
                <strong>Created At</strong>
                <span id="study-createdAt"></span>
            </div>
            <div>
                <strong>Status</strong>
                <span id="study-status"></span>
            </div>
            <div>
                <strong>Language</strong>
                <span id="study-language"></span>
            </div>
            <div>
                <strong>인원 수</strong>
                <span id="study-participant"></span>
            </div>
        </div>

        <div class="study-content">
            <strong>Content</strong>
            <div id="study-content"></div>
        </div>

        <div class="comments-section">
            <h2>Join us!</h2>
            <ul id="comments-list">
                <!-- Comments will be dynamically added here -->
            </ul>
        </div>

        <form id="comment-form">
            <textarea name="comment" id="comment" placeholder="댓글 입력"></textarea>
            <input class="form-check-input" type="checkbox" value="" id="secret">
            <label class="form-check-label" for="secret">
                비밀 댓글
            </label>
            <button type="submit">작성하기</button>
        </form>
    </div>

    <!-- 채팅 프래그먼트 포함 -->
    <div th:replace="~{fragments/chatting :: chat}"></div>

    <!-- 챗봇 프래그먼트 포함 -->
    <div th:replace="~{fragments/chatbot :: chatbot(backendUrl=${backendUrl})}"></div>
</main>
</body>
<script src="/js/study/StudyDetailJs.js"></script>
<footer>
    <div id="our_information">
        <ul>
            <li>진행 프로젝트 : ESTSOFT ORMI 5기 백엔드 파이널 프로젝트</li>
            <li>팀 이름 : 5조 high - five</li>
            <li>프로젝트 이름 : Algoy</li>
            <li>깃허브 : <a href="https://github.com/high-five-ormi">https://github.com/high-five-ormi</a></li>
            <li>프로젝트 관련 컨텍은 깃허브 READ ME에 안내되어 있습니다</li>
        </ul>
    </div>
    <div id="Catchphrase">
        <img src="/img/algoy-1.png" alt="알고이 로고입니다." id="footer-logo">
        <p>"Algoy: Your Coding Commit Companion —Track Mistakes, Plan Success, and Get AI Insights"</p>
    </div>
</footer>
</html>