body {
    margin :0;
}

#header-container {
    width: 100%;
    height: 190px;
    background-color: #E4EDF3;
    box-sizing: border-box;
    padding: 0 36px;
    position: relative;
}

#header-logo {
    float: left;
    margin-right: 5%;
}

#header-nav-1 {
    float: left;
    margin-top: 130px;
    display: flex;
    gap: 36px;
    font-size: 20px;
}

#header-nav-2 {
    float: right;
    margin-top: 121px;
    display: flex;
    gap: 30px;
}

#search-container {
    width: 325px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-sizing: border-box;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    color: #4F4F4F;
    padding-left: 16px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-logout, #header-my-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

#header-logout {
    width: 84px;
    height: 40px;
}

#header-my-page {
    width: 40px;
    height: 40px;
}

.header-user-area {
    display: flex;
    gap: 8px;
}


#header-container::after {
    content: "";
    display: table;
    clear: both;
}

#calendar-header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left:80px;
    margin-right: 80px;
    padding-left: 40px;
    padding-right: 40px;
    height: 65px;
    position: relative;
}

#calendar-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: gray;
}

.calendar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    font-size: 18px;
    font-weight: bold;
}

#btn-calendar {
    background-color: #007bff;
    width: 84px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/* table styling */
.planner-container {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
}

.planner-container h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.planner-container p {
    margin: 5px 0 20px;
    font-size: 14px;
    color: #666;
}

.scrollable-table {
    max-height: 800px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    height: 50px;
    align-items: center;
}

th, td {
    padding: 8px 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.planner-table-status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.status-not-started {
    line-height: 100px;
    color: red;
    width: 90px;
    height: 50px;
    font-weight: bold;
    border-radius: 12px;
    border:none;
    background-color: rgba(255,209,223,0.2);
}

.status-in-progress {
    line-height: 100px;
    color: orange;
    width: 90px;
    height: 50px;
    font-weight: bold;
    border-radius: 12px;
    border:none;
    background-color: rgba(255,160,122,0.2);
}

.status-done {
    line-height: 50px;
    color: green;
    width: 90px;
    height: 50px;
    font-weight: bold;
    border-radius: 12px;
    border:none;
    background-color: rgba(144,238,144,0.2);
}

.loader {
    text-align: center;
    margin-top: 20px;
    display: none;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 8px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.modal-close:hover, .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Styling for modal content */
.modal-content h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.modal-content p {
    font-size: 14px;
    color: #666;
}

.modal-content .link {
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}