<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ALGOY 관리자 페이지</title>
    <link rel="stylesheet" th:href="@{/css/user/admin.css}">
</head>
<body>
    <h2>유저 목록</h2>
    <table>
        <thead>
            <tr>
                <th>유저명</th>
                <th>닉네임</th>
                <th>권한</th>
                <th>가입일</th>
                <th>권한 제어</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getNickname()}"></td>
                <td th:text="${user.getRole().getTitle()}"></td>
                <td th:text="${#temporals.format(user.getCreatedAt(), 'yyyy년 MM월 dd일')}"></td>
                <td>
                    <form th:action="@{/algoy/admin/role-control}" method="post" style="display:inline;">
                        <input type="hidden" name="userId" th:value="${user.getUserId()}"/>
                        <input type="hidden" name="action" value="admin"/>
                        <button type="submit" class="admin-btn">관리자 승격</button>
                    </form>

                    <form th:action="@{/algoy/admin/role-control}" method="post" style="display:inline;">
                        <input type="hidden" name="userId" th:value="${user.getUserId()}"/>
                        <input type="hidden" name="action" value="ban"/>
                        <button type="submit" class="ban-btn">유저 정지</button>
                    </form>

                    <form th:action="@{/algoy/admin/role-control}" method="post" style="display:inline;">
                        <input type="hidden" name="userId" th:value="${user.getUserId()}"/>
                        <input type="hidden" name="action" value="lift"/>
                        <button type="submit" class="lift-btn">정지 해제</button>
                    </form>
                </td>
                <!--<td>-->
                <!--<a th:href="@{/admin/role-control(userId=${user.getUserId()}, action='admin')}" class="admin-btn">관리자</a>-->
                <!--<a th:href="@{/admin/role-control(userId=${user.getUserId()}, action='ban')}" class="ban-btn">정지</a>-->
                <!--<a th:href="@{/admin/role-control(userId=${user.getUserId()}, action='lift')}" class="lift-btn">해제</a>-->
                <!--</td>-->
            </tr>
        </tbody>
    </table>
    <a th:href="@{/algoy/home}">메인화면</a>
</body>
</html>