<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALGOY</title>
    <link rel="icon" href="/img/algoy-1.png" type="image/x-icon">
</head>
<body>
<div id="myModal" class="modal" th:fragment="modal">
    <div class="modal-header">
        <div class="avatar">
            <img src="/img/user-icon.png" class="avatar-icon" alt="유저 이미지">
        </div>
        <span class="nickname"></span>
        <span class="close">&times;</span>
    </div>
    <div class="modal-content">
        <a href="/algoy/user/edit"> 회원 정보 수정</a>
        <a href="/algoy/user/delete"> 회원 탈퇴</a>
    </div>
</div>

</body>
</html>