#header-container{
    width: 100%;
    height: 190px;
    background-color: #E4EDF3;
}

#header-logo {
    margin-left: 63px;
    margin-right: 59px;
}

#header-nav-1 {
    width: 387px;
    height: 121px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:36px;
}

