<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form th:action="@{/algoy/sign}" th:object="${user}" method="post">
        <label for="email">이메일:</label>
        <input type="text" id="email" th:field="*{email}" required/>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" th:field="*{password}" required/>

        <label for="confirm-password">비밀번호 확인:</label>
        <input type="password" id="confirm-password" name="confirmPassword" required/>

        <label for="username">이름:</label>
        <input type="text" id="username" th:field="*{username}" required/>

        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" th:field="*{nickname}" required/>

        <button type="submit">회원가입</button>
    </form>
</body>
</html>