<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ALGOY</title>
  <link rel="icon" href="/img/algoy-1.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="/css/wronganswernote/edit-wrong-answer-note.css">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <!-- 모든 브라우저에서 WebSocket을 완벽하게 지원하지 않기 때문에, 다양한 브라우저에서 WebSocket과 유사한 기능을 제공하는 라이브러리입니다. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
  <!-- STOMP는 JavaScript 환경에서 사용할 수 있도록 도와주는 라이브러리입니다. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <!-- jQuery 라이브러리의 압축된 버전을 CDN을 통해 불러와 현재 HTML 문서에서 사용할 수 있습니다. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- 웹 페이지에서 마크다운으로 작성된 내용을 HTML로 변환하여 보여주는 역할을 합니다. -->
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <!-- 웹 애플리케이션의 보안을 강화하고, 사용자 생성 콘텐츠를 안전하게 처리하는 역할을 합니다. (XSS 방지용) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.3/purify.min.js"></script>
  <!-- 웹 페이지 내의 코드를 시각적으로 매력적으로 표현하여 사용자 경험을 향상시키는 역할을 합니다. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <!-- highlight.js 라이브러리와 함께 사용되어 웹 페이지 내의 코드 블록에 시각적인 스타일을 적용하는 역할을 합니다. -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
  <script th:src="@{/js/fragments/modal.js}"></script>
</head>
<body>
<header>
  <div th:replace="fragments/header :: header"></div>
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
</header>
<div th:replace="fragments/modal :: modal"></div>
<link rel="stylesheet" th:href="@{/css/fragments/modal.css}">

<div class="note-header">
  <div class="title-section">
    <img src="/img/planner-icon.png" alt="오답노트 아이콘" class="WrongAnswerNote-icon">
    <h2>오답노트</h2>
  </div>
</div>

<div class="container">
  <main>
    <h1>게시글 수정</h1>
    <form id="noteForm" th:action="@{/algoy/commit/{id}/edit(id=${note.id})}" method="post"
          enctype="multipart/form-data">
      <input type="hidden" name="_method" value="POST">

      <label for="title">제목</label>
      <input type="text" id="title" name="title" placeholder="제목을 입력해 주세요" class="input-field"
             th:value="${note.title}" required><br/>

      <label for="link">문제 링크</label>
      <input type="text" id="link" name="link" placeholder="문제 링크를 입력해 주세요" class="input-field"
             th:value="${note.link}" required><br/>

      <label for="quizSite">문제 사이트</label>
      <input type="text" id="quizSite" name="quizSite" placeholder="문제 사이트를 입력해 주세요"
             class="input-field" th:value="${note.quizSite}" required><br/>

      <div class="flex-container">
        <div>
          <label for="quizType">유형</label>
          <input type="text" id="quizType" name="quizType" placeholder="유형을 입력해 주세요"
                 class="input-field" th:value="${note.quizType}" required>
        </div>
        <div>
          <label for="quizLevel">레벨</label>
          <input type="text" id="quizLevel" name="quizLevel" placeholder="레벨을 입력해 주세요"
                 class="input-field" th:value="${note.quizLevel}" required>
        </div>
        <div>
          <label for="isSolved">풀이 여부</label>
          <select id="isSolved" name="isSolved" class="input-field" required>
            <option value="true" th:selected="${note.isSolved} == true">Solved</option>
            <option value="false" th:selected="${note.isSolved} == false">Unsolved</option>
          </select>
        </div>
      </div>

      <label for="content">내용</label>
      <div id="editor" class="textarea-field" style="height: 200px;"></div>
      <input type="hidden" id="content" name="content" th:value="${note.content}"><br/>

      <div class="form-buttons">
        <button type="submit" class="custom-button">수정</button>
        <a href="/algoy/commit">
          <button type="button" class="custom-button">취소</button>
        </a>
      </div>
    </form>

    <div id="image-previews" style="margin-top: 20px;"></div>

    <!-- 채팅 프래그먼트 포함 -->
    <div th:replace="~{fragments/chatting :: chat}"></div>

    <!-- 챗봇 프래그먼트 포함 -->
    <div th:replace="~{fragments/chatbot :: chatbot(backendUrl=${backendUrl})}"></div>
  </main>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/js/wronganswernote/edit.js"></script>
</body>
<footer>
  <div id="our_information">
    <ul>
      <li>진행 프로젝트 : ESTSOFT ORMI 5기 백엔드 파이널 프로젝트</li>
      <li>팀 이름 : 5조 high - five</li>
      <li>프로젝트 이름 : Algoy</li>
      <li>깃허브 : <a href="https://github.com/high-five-ormi">https://github.com/high-five-ormi</a></li>
      <li>프로젝트 관련 컨텍은 깃허브 READ ME에 안내되어 있습니다</li>
    </ul>
  </div>
  <div id="Catchphrase">
    <img src="/img/algoy-1.png" alt="알고이 로고입니다." id="footer-logo">
    <p>"Algoy: Your Coding Commit Companion —Track Mistakes, Plan Success, and Get AI Insights"</p>
  </div>
</footer>
</html>