<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ALGOY</title>
  <link rel="icon" href="/img/algoy-1.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/wronganswernote/list-wrong-answer-note.css">
  <!-- 모든 브라우저에서 WebSocket을 완벽하게 지원하지 않기 때문에, 다양한 브라우저에서 WebSocket과 유사한 기능을 제공하는 라이브러리입니다. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
  <!-- STOMP는 JavaScript 환경에서 사용할 수 있도록 도와주는 라이브러리입니다. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <!-- jQuery 라이브러리의 압축된 버전을 CDN을 통해 불러와 현재 HTML 문서에서 사용할 수 있습니다. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- 웹 페이지에서 마크다운으로 작성된 내용을 HTML로 변환하여 보여주는 역할을 합니다. -->
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <!-- 웹 애플리케이션의 보안을 강화하고, 사용자 생성 콘텐츠를 안전하게 처리하는 역할을 합니다. (XSS 방지용) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.3/purify.min.js"></script>
  <!-- 웹 페이지 내의 코드를 시각적으로 매력적으로 표현하여 사용자 경험을 향상시키는 역할을 합니다. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
  <!-- highlight.js 라이브러리와 함께 사용되어 웹 페이지 내의 코드 블록에 시각적인 스타일을 적용하는 역할을 합니다. -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
  <script th:src="@{/js/fragments/modal.js}"></script>
</head>
<body>
<header>
  <div th:replace="fragments/header :: header"></div>
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
</header>
<div th:replace="fragments/modal :: modal"></div>
<link rel="stylesheet" th:href="@{/css/fragments/modal.css}">

<div class="note-header">
  <div class="title-section">
    <img src="/img/planner-icon.png" alt="오답노트 아이콘" class="WrongAnswerNote-icon">
    <h2>오답노트</h2>
  </div>
  <button class="new-button" onclick="redirectToCreate()">New</button>
</div>

<main>
  <section class="note-list">
    <div th:each="note : ${notes}" class="note-item">
      <h2>
        <a th:href="@{/algoy/commit/{id}(id=${note.id})}" th:text="${note.title}"></a>
      </h2>
      <div class="note-content" th:utext="${note.content}"></div>
      <div class="note-details">
        <span><strong>링크:</strong> <span th:text="${note.link}" class="note-link"></span></span>
      </div>
      <div class="note-details">
        <span><strong>출제 사이트:</strong> <span th:text="${note.quizSite}"></span></span>
        <span><strong>문제 유형:</strong> <span th:text="${note.quizType}"></span></span>
        <span><strong>문제 레벨:</strong> <span th:text="${note.quizLevel}"></span></span>
        <span><strong>풀이 여부:</strong> <span th:text="${note.isSolved != null ? (note.isSolved ? 'Solved' : 'Unsolved') : 'Unsolved'}"></span></span>
      </div>
      <div class="note-dates">
        <span>작성일: <time th:text="${#temporals.format(note.createdAt, 'yyyy년 MM월 dd일 HH:mm')}"></time></span>
        <span>수정일: <time th:text="${#temporals.format(note.updatedAt, 'yyyy년 MM월 dd일 HH:mm')}"></time></span>
      </div>
    </div>
  </section>

  <div class="pagination">
    <a th:href="@{/algoy/commit(page=${previousGroupStartPage}, size=${size})}" th:if="${startPage > 0}">&laquo; 이전</a>
    <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
        <a th:href="@{/algoy/commit(page=${i}, size=${size})}" th:text="${i + 1}" th:classappend="${i == currentPage ? ' active' : ''}"></a>
    </span>
    <a th:href="@{/algoy/commit(page=${nextGroupStartPage}, size=${size})}" th:if="${endPage < totalPages}">다음 &raquo;</a>
  </div>

  <!-- 채팅 프래그먼트 포함 -->
  <div th:replace="~{fragments/chatting :: chat}"></div>

  <!-- 챗봇 프래그먼트 포함 -->
  <div th:replace="~{fragments/chatbot :: chatbot(backendUrl=${backendUrl})}"></div>
</main>

<script src="/js/wronganswernote/list.js"></script>
</body>
<footer>
  <div id="our_information">
    <ul>
      <li>진행 프로젝트 : ESTSOFT ORMI 5기 백엔드 파이널 프로젝트</li>
      <li>팀 이름 : 5조 high - five</li>
      <li>프로젝트 이름 : Algoy</li>
      <li>깃허브 : <a href="https://github.com/high-five-ormi">https://github.com/high-five-ormi</a></li>
      <li>프로젝트 관련 컨텍은 깃허브 READ ME에 안내되어 있습니다</li>
    </ul>
  </div>
  <div id="Catchphrase">
    <img src="/img/algoy-1.png" alt="알고이 로고입니다." id="footer-logo">
    <p>"Algoy: Your Coding Commit Companion —Track Mistakes, Plan Success, and Get AI Insights"</p>
  </div>
</footer>
</html>