<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>플래너</title>
    <link rel="stylesheet" href="/css/planner/PlannerEditForm.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <div id="header-container">
        <img src="/img/algoy-1.png" width="190" height="190" alt="알고이 로고입니다." id="header-logo">
        <nav id="header-nav-1">
            <span><a href="">오답 노트</a></span>
            <span><a href="/algoy/planner/calender">플래너</a></span>
        </nav>
        <nav id="header-nav-2">
            <div id="search-container">
                <input type="text" placeholder="search" class="search-input">
                <button class="search-button">
                    <img src="/img/search-glasses.png" width="29" height="29" alt="검색 창의 돋보기 입니다.">
                </button>
            </div>
            <div class="header-user-area">
                <button id="header-logout">
                    <span>Logout</span>
                </button>
                <button id="header-my-page">
                    <img src="/img/user-icon.png" width="20" height="20" alt="마이 페이지 버튼입니다">
                </button>
            </div>
        </nav>
    </div>
</header>
<div id="calendar-header" class="calendar-nav">
    <div class="calendar-nav" style="width: 100px; height: 23px">
        <img src="/img/planner-icon.png" width="16" height="16" alt="플래너 아이콘입니다.">
        <span style="line-height: 23px">Planner</span>
    </div>
</div>
<div class="save-container">
    <h1>플랜 수정</h1>
    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="제목을 입력해 주세요">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea id="content" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <input type="text" id="link" placeholder="링크를 입력해 주세요">
        </div>
        <div class="form-group">
            <label>Status</label>
            <div class="radio-group">
                <label><input type="radio" name="status" value="TODO" checked> 준비 중</label>
                <label><input type="radio" name="status" value="IN_PROGRESS"> 진행 중</label>
                <label><input type="radio" name="status" value="DONE"> 완료</label>
            </div>
        </div>
        <div class="form-group">
            <label for="question">Question</label>
            <input type="text" id="question" placeholder="문제 이름을 입력해주세요">
        </div>
        <div class="form-group">
            <label for="site-dropdown">Site</label>
            <select id="site-dropdown">
                <option value="BOJ">백준</option>
                <option value="PGS">프로그래머스</option>
                <option value="SWEA">SW Expert Academy</option>
                <option value="ETC">ETC</option>
            </select>
            <label for="etc-input"></label>
            <input type="text" id="etc-input" placeholder="기타 사이트 이름을 입력해 주세요" style="display:none; margin-top:10px;">
        </div>
        <div class="form-group">
            <label for="start-date">Start date</label>
            <input type="date" id="start-date">
        </div>
        <div class="form-group">
            <label for="end-date">End date</label>
            <input type="date" id="end-date">
        </div>
        <button class="btn-update">Submit</button>
    </form>
</div>
</body>
<script src="/js/planner/EditFormJs.js"></script>
</html>