<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>플래너</title>
    <link rel="stylesheet" href="/css/planner/PlannerMainCss.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <div id="header-container">
        <a th:href="@{/algoy/home}">
            <img src="/img/algoy-1.png" width="190" height="190" alt="알고이 로고입니다." id="header-logo">
        </a>
        <nav id="header-nav-1">
            <span><a href="">오답 노트</a></span>
            <span><a href="/algoy/planner/calender">플래너</a></span>
        </nav>
        <nav id="header-nav-2">
            <div id="search-container">
                <input type="text" placeholder="search" class="search-input">
                <button class="search-button">
                    <img src="/img/search-glasses.png" width="29" height="29" alt="검색 창의 돋보기 입니다.">
                </button>
            </div>
            <div class="header-user-area">
                <button id="header-logout">
                    <span>Logout</span>
                </button>
                <button id="header-my-page">
                    <img src="/img/user-icon.png" width="20" height="20" alt="마이 페이지 버튼입니다">
                </button>
            </div>
        </nav>
    </div>
</header>
<div id="calendar-header" class="calendar-nav">
    <div class="calendar-nav" style="width: 100px; height: 23px">
        <img src="/img/planner-icon.png" width="16" height="16" alt="플래너 아이콘입니다.">
        <span style="line-height: 23px">Planner</span>
    </div>
    <button id="btn-calendar">New</button>
</div>
<div class="planner-container">
    <h2>코테 level up을 위한 오늘의 PLANNER</h2>
    <p>Planner를 작성하시면서 플래너가 변경됩니다</p>

    <div class="loader">
        <p>Loading...</p>
    </div>

    <div class="scrollable-table">
        <table id="planner-table">
            <thead>
            <tr>
                <th style="width: 50px">No.</th>
                <th>Title</th>
                <th>Content</th>
                <th>Site</th>
                <th>Question</th>
                <th style="width: 120px">Status</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- 모달 구조 -->
<div id="planner-modal" class="modal">
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <!-- 제목 -->
        <h2 id="modal-title">Title</h2>
        <!-- 본문이 들어갈 div 요소 -->
        <div id="modal-content" style="border: 1px solid #e3e3e3; padding: 15px; min-height: 279px; margin-top: 20px;">
            <p>Loading...</p>
        </div>
        <!-- 작성된 시간 -->
        <div id="modal-info" style="font-size: 12px; color: #666; margin-top: 30px;">
            <p><span id="modal-createdAt">Loading...</span></p>
            <!-- 문제 링크와 관련된 이슈 -->
            <p>Related issues - <a href="#" id="modal-link" target="_blank">Loading...</a></p>
            <!-- 플랜 작업 시간 -->
            <p><span id="modal-timeAt"></span></p>
            <!-- 문제 이름 -->
            <p>Question Name - <span id="modal-question">Loading...</span></p>
            <!-- 사이트 이름 -->
            <p>Site Name - <span id="modal-site">Loading...</span></p>
        </div>
        <div class="modal-button-group">
            <button id="btn-edit">수정</button>
            <button id="btn-delete">삭제</button>
        </div>
    </div>
</div>
</body>
<script src="/js/planner/PlannerMainJs.js"></script>
</html>